![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown

### **1. Analisis multivariable del perfil de las pacientes y del comportamiento de las citas en una consulta privada de ginecologia, obstetricia y reproduccion.**
### **2. Analisis de variables obtenidas durante el control gestacional, con respecto a resultados perinatales.**

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown

 En una consulta privada de ginecologia, obstetricia y reproduccion ubicada en la ciudad de Rafaela, prov de Santa Fe, Argentina, se implementó desde el año 2014 un sistema informatico de historias clinicas que, ademas de tener funcionalidades especificas para la especialidad, aloja todas la informacion en una base de datos Filemaker Pro. 
 Hay campos de texto, fechas, numericos enteros y con decimales. Hay campos de edicion libre, y otros datos se completas a traves de un listado predefinido, o a traves de checkmarks. 

 A lo largo de los años, pareciera que la principal utilidad del sistema es justamente registrar infoacion para ser utilizada cuando la paciente vuelve, y poder acceder facilmente a su historial con un par de clicks. Sin embargo, sabemos que se han ido acumulando cientos y miles de datos con el uso cotidiano, pero estan escondidos en la maquinaria de la base de datos y nadie los mira. 

 Seguramente esos datos nos pueden llegar a decir algunas cosas que no sabemos sobre la performance de la consulta en terminos de productividad, conocer que tipo de pacientes son los que se acercan  (de que aseguradoras, de que edad, adonde viven). Por otro lado, desde el punto de vista estrictamente medico, se almacenan datos que podrian demostrar alguna correlacion entre variables, que hoy desconocemos, o simplemente quisieramos corroborar. 

Por este motivo, vamos a realizar un analisis exploratorio de datos sobre 3 tablas de la base de dartos: datos de los pacientes, datos de las citas, datos de los embarazos

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown

#### **Hipotesis principal:**
1. **Cual es el perfil de pacientes que solicitan cita en la consulta? Edad, aseguradora, localidad de residencia**
2. **Cual es el comportamiento de las citas en el tiempo segun: Cantidad por mes, tipo de cita y aseguradora?**

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown

1. Cual es el comportamiento de las citas de primera vez en el tiempo?
4. Cual es la tasa de repitencia y que tiempo promedio pasa entre la primera y la segunda cita?
5. Cual es el porcentaje relativo entre los tipos de cita? Como evolucinan a traves de los años?
6. Como se relaciona el peso materno (absoluto y diferencial) en sem 25, 30 y 35,  con el peso del RN, la edad gestacional al nacimiento y la internacion en neonatologia.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
# describe la fuente de tus datos e incluye los links en Markdown

Los datasets son archivos .csv y/o excel que se exportan desde la interface del sistema de Filemaker Pro, a partir de las tablas de la base de datos relacional.

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [1]:
import pandas as pd
import numpy as np

In [11]:
datos_pacientes = pd.read_excel('./Datasets EDA/DATASETS EDA 2023 - BORRADORES/Datos de pacientes.xlsx')
citas = pd.read_csv('./Datasets EDA/DATASETS EDA 2023 - BORRADORES/citas SIIRAGO.csv')

c:\Users\Rafael Ortega\AppData\Local\Programs\Python\Python37\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [9]:
# Primer dataset
datos_pacientes.head()

,Apellido,Comentarios,Correo electronico,Direccion,DNI,Edad,Fecha de creacion del registro,Fecha Nacimiento,ID Paciente,Localidad,Nº de Afiliado,Nombres,Obra Social,Plan Obra Social,Telefono Fijo,Telefono Móvil
0,DePrueba,esposa del dr.,ivanags@hotmail.com,9 de Julio 170 - Planta Alta,27480893.0,43 años,NaT,1979-10-22,1,Rafaela,2.748089e+07,Ivana,IAPOS,NaN,435015,342154073978
1,Zurbriggen,NaN,NaN,Chiaraviglio 198,14338475.0,61 años,NaT,1961-06-16,2,Rafaela,1.433848e+07,María Cristina,OSECAC,NaN,437113,NaN
2,Zoratti,NaN,graciela_ferreteria@hotmail.com,Alvear 946,17008004.0,58 años,NaT,1964-07-24,3,Rafaela,1.700800e+07,Graciela,CENTRO ASISTENCIAL,NaN,NaN,15683213
3,Trossero,NaN,dtrossero@hotmail.com,NaN,29215013.0,NaN,NaT,NaT,4,Ataliva,2.921501e+07,Daniela Laura,CENTRO ASISTENCIAL,NaN,NaN,03493 15405038
4,Ingaramo,NaN,flia.vinderola@hotmail.com,Chacabuco 347,6480084.0,81 años,NaT,1941-06-13,5,Rafaela,6.049401e+17,Alcira,SANCOR,NaN,504349,15612356

In [12]:
# Siguiente dataset...
citas.head()

,2013,Ortega,1,1.1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Ginecológica,Ginecológica.1,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,2013.0,Ortega,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ginecológica,Ginecológica,NaN,NaN,NaN,NaN
1,2013.0,Ortega,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Suelo pélvico,Suelo pélvico,NaN,NaN,NaN,NaN
2,2013.0,Ortega,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ginecológica,Ginecológica,NaN,NaN,NaN,NaN
3,2013.0,Ortega,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Suelo pélvico,Suelo pélvico,NaN,NaN,NaN,NaN
4,2013.0,Ortega,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ginecológica,Ginecológica,NaN,NaN,NaN,NaN

#### Tengo el problema que al exportar las tablas con .csv, no se exporta el nombre de la columna. Entonces deberia descargarlos de otra manera, y ver si puedo crear una lista con ellos, y posteriormente agregarlos como nombresd e columan.  O bien exportar directamente a excel, que si me pone los nombres de los campos como nombres de columnas. Supongo que eso lo puedo hacer porque el n de la muestra es bajo.