In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pacientes_raw = pd.read_excel('C:/Users/Rafael Ortega/Proyectos/Data_Analyst/EDA/EDA - Rafael Ortega/src/data/raw/Datos de pacientes.xlsx')

c:\Users\Rafael Ortega\AppData\Local\Programs\Python\Python37\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
pacientes_raw.head()

,Apellido,Comentarios,Correo electronico,Direccion,DNI,Edad,Fecha de creacion del registro,Fecha Nacimiento,ID Paciente,Localidad,Nº de Afiliado,Nombres,Obra Social,Plan Obra Social,Telefono Fijo,Telefono Móvil
0,DePrueba,esposa del dr.,ivanags@hotmail.com,9 de Julio 170 - Planta Alta,27480893.0,43 años,NaT,1979-10-22 00:00:00,1,Rafaela,2.748089e+07,Ivana,IAPOS,NaN,435015,342154073978
1,Zurbriggen,NaN,NaN,Chiaraviglio 198,14338475.0,61 años,NaT,1961-06-16 00:00:00,2,Rafaela,1.433848e+07,María Cristina,OSECAC,NaN,437113,NaN
2,Zoratti,NaN,graciela_ferreteria@hotmail.com,Alvear 946,17008004.0,58 años,NaT,1964-07-24 00:00:00,3,Rafaela,1.700800e+07,Graciela,CENTRO ASISTENCIAL,NaN,NaN,15683213
3,Trossero,NaN,dtrossero@hotmail.com,NaN,29215013.0,NaN,NaT,NaN,4,Ataliva,2.921501e+07,Daniela Laura,CENTRO ASISTENCIAL,NaN,NaN,03493 15405038
4,Ingaramo,NaN,flia.vinderola@hotmail.com,Chacabuco 347,6480084.0,81 años,NaT,1941-06-13 00:00:00,5,Rafaela,6.049401e+17,Alcira,SANCOR,NaN,504349,15612356

In [4]:
pacientes_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Apellido                        875 non-null    object
 1   Comentarios                     33 non-null     object
 2   Correo electronico              444 non-null    object
 3   Direccion                       492 non-null    object
 4   DNI                             764 non-null    float64
 5   Edad                            695 non-null    object
 6   Fecha de creacion del registro  725 non-null    datetime64[ns]
 7   Fecha Nacimiento                695 non-null    object
 8   ID Paciente                     910 non-null    int64
 9   Localidad                       724 non-null    object
 10  Nº de Afiliado                  669 non-null    float64
 11  Nombres                         878 non-null    object
 12  Obra Social                     851 non-null    object
 13  Plan Obra Social                250 non-null    object
 14  Telefono Fijo                   45 non-null     object
 15  Telefono Móvil                  647 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(12)
memory usage: 113.9+ KB

In [5]:
pacientes_raw.columns

Index(['Apellido', 'Comentarios', 'Correo electronico', 'Direccion', 'DNI',
       'Edad', 'Fecha de creacion del registro', 'Fecha Nacimiento',
       'ID Paciente', 'Localidad', 'Nº de Afiliado', 'Nombres', 'Obra Social',
       'Plan Obra Social', 'Telefono Fijo', 'Telefono Móvil'],
      dtype='object')

In [6]:
# Se eliminan las columnas que no son necesarias para el análisis
pac_processed = pacientes_raw.drop(['Comentarios', 'Correo electronico','Direccion', 'Nº de Afiliado','Plan Obra Social', 'Telefono Fijo', 'Telefono Móvil'], axis = 1)

In [7]:
pac_processed.columns

Index(['Apellido', 'DNI', 'Edad', 'Fecha de creacion del registro',
       'Fecha Nacimiento', 'ID Paciente', 'Localidad', 'Nombres',
       'Obra Social'],
      dtype='object')

In [8]:
pac_processed.head()

,Apellido,DNI,Edad,Fecha de creacion del registro,Fecha Nacimiento,ID Paciente,Localidad,Nombres,Obra Social
0,DePrueba,27480893.0,43 años,NaT,1979-10-22 00:00:00,1,Rafaela,Ivana,IAPOS
1,Zurbriggen,14338475.0,61 años,NaT,1961-06-16 00:00:00,2,Rafaela,María Cristina,OSECAC
2,Zoratti,17008004.0,58 años,NaT,1964-07-24 00:00:00,3,Rafaela,Graciela,CENTRO ASISTENCIAL
3,Trossero,29215013.0,NaN,NaT,NaN,4,Ataliva,Daniela Laura,CENTRO ASISTENCIAL
4,Ingaramo,6480084.0,81 años,NaT,1941-06-13 00:00:00,5,Rafaela,Alcira,SANCOR

In [9]:
# Se eliminará la primera fila. 
pac_processed = pac_processed.iloc[1:]

In [14]:
pac_processed.head()

,Apellido,DNI,Edad,Fecha de creacion del registro,Fecha Nacimiento,ID Paciente,Localidad,Nombres,Obra Social
1,Zurbriggen,14338475.0,61 años,NaT,1961-06-16 00:00:00,2,Rafaela,María Cristina,OSECAC
2,Zoratti,17008004.0,58 años,NaT,1964-07-24 00:00:00,3,Rafaela,Graciela,CENTRO ASISTENCIAL
3,Trossero,29215013.0,NaN,NaT,NaN,4,Ataliva,Daniela Laura,CENTRO ASISTENCIAL
4,Ingaramo,6480084.0,81 años,NaT,1941-06-13 00:00:00,5,Rafaela,Alcira,SANCOR
5,Condrac,29054123.0,40 años,NaT,1980-04-24 00:00:00,6,Rafaela,Keila,AMUR

In [15]:
# Se eliminan las filas que tienen missing values en de Fecha de Nacimiento
pac_processed = pac_processed.dropna(subset=['Fecha Nacimiento'])

In [16]:
pac_processed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 694 entries, 1 to 902
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Apellido                        694 non-null    object
 1   DNI                             684 non-null    float64
 2   Edad                            694 non-null    object
 3   Fecha de creacion del registro  558 non-null    datetime64[ns]
 4   Fecha Nacimiento                694 non-null    object
 5   ID Paciente                     694 non-null    int64
 6   Localidad                       672 non-null    object
 7   Nombres                         693 non-null    object
 8   Obra Social                     687 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 54.2+ KB

In [24]:
# Compruebo cuales son las filas con DNI nulos
pac_processed[pac_processed['DNI'].isnull()]

,Apellido,DNI,Edad,Fecha de creacion del registro,Fecha Nacimiento,ID Paciente,Localidad,Nombres,Obra Social
13,Dellasanta,NaN,48 años,NaT,1971-08-02 00:00:00,14,Santa Fe,Paula,PARTICULAR
65,Chianalino,NaN,43 años,NaT,1979-09-12 00:00:00,72,NaN,Romina,OSDE
76,Lorenzatti,NaN,81 años,NaT,1933-05-30 00:00:00,83,NaN,Élida Úrsula,SANCOR
78,Gnemmi,NaN,49 años,NaT,1968-02-25 00:00:00,85,NaN,Mónica,OSDE
97,Begliardo,NaN,37 años,NaT,1980-04-08 00:00:00,100,NaN,Fernanda,NaN
153,Zurvera,NaN,40 años,NaT,1978-02-01 00:00:00,159,Rafaela,Carolina,PREVENCION SALUD
159,Humeler,NaN,32 años,NaT,1986-05-12 00:00:00,166,Rafaela,Pamela,AMUR
280,Negro,NaN,38 años,2017-01-04,1980-06-24 00:00:00,304,Rafaela,Romina,CAJA FORENSE
370,Romero,NaN,30 años,2017-10-19,1987-12-11 00:00:00,408,NaN,Nadia,PARTICULAR
720,Luque,NaN,41 años,2021-10-18,1979-11-19 00:00:00,784,NaN,Valeria,SUTIAGA

In [48]:
# Compruebo que los DNI no esten duplicados
pac_processed['DNI'].value_counts().head()

14338475.0    1
34637810.0    1
22737094.0    1
43494492.0    1
36914026.0    1
Name: DNI, dtype: int64

In [49]:
# Aplico un filtro para ver los datos de los DNI duplicados, y compruebo que no es la misma paciente. 

pac_processed[pac_processed['DNI'] == 33722760.0]

Empty DataFrame
Columns: [Apellido, DNI, Edad, Fecha de creacion del registro, Fecha Nacimiento, ID Paciente, Localidad, Nombres, Obra Social]
Index: []

In [44]:
# A fines del analisis, le voy a asignar un DNI diferente a una de ellas.
# Voy a identificar primero la localizacion del valor que quiero cambiar 
pac_processed['DNI'][392]

33722761.0

In [45]:
pac_processed['DNI'][392] = pac_processed['DNI'][392] + 1

C:\Users\Rafael Ortega\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
pac_processed['DNI'][392]

33722762.0

In [47]:
pac_processed[pac_processed['DNI'] == 33722760.0]

Empty DataFrame
Columns: [Apellido, DNI, Edad, Fecha de creacion del registro, Fecha Nacimiento, ID Paciente, Localidad, Nombres, Obra Social]
Index: []